<div style="align-content: flex-end;">
    <form
        action="https://api.follow.it/subscription-form/azhWUnB5RlVXV21oTTh3QkwrQUw5Y0hTb3lMYnFmVDdQazBDekFnRmQwZFpTdXcwRUY1Tkl3NWt4SVp2emtpMGVYTXgwWnhjT3Q0WHIzOVJiVnVTVjJpUTlJbEFzVmxrZmhqVHdUVzV0bHVOZW1KcFA3VW1GK2laek5mYmQ2RTB8TUR6dHRGdjYwZmlZMEo2dmthQk5zbkt0UzFIN28zOUZmbFFRODFsT041OD0=/8"
        method="post">
        <a>Get new posts by email:
            <input type="email" name="Email" placeholder="mail@example.com" style="width: 300px">
            <input type="submit" value="Subscribe">
        </a>
    </form>
</div>