<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include google-analytics.html %}

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>{{site.name}} - Read about this and that </title>

    {% seo %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light sticky-top">
        <div class="container">
          <a class="navbar-brand" href="{{ site.baseurl }}/ "><h4>{{ site.title }}</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for navitem in site.data.navitems.main %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ navitem.url | absolute_url }}">{{ navitem.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
    </nav>
    <!-- End of Navigation -->
    <!-- Begin content -->
    <div class="justify-content-evenly">
      <div class="container">
        {{ content }}
      </div>
    </div>
    <!-- End Content -->
    <!-- Begin Footer -->
    {% include footer.html %}
    <!-- End Footer -->
    <script>
      $(function () {
          $('nav li a').filter(function () {
              return this.href === location.href;
          }).addClass('active');
      });
    </script>
    
  </body>
</html>