---
layout: default
---
<div class="text-dark fs-5">
    <p><h2 class="text-center">{{ page.title }}</h2></p>
    <h6 class="text-center text-muted"> {{ page.author }} {{ page.date | | date_to_string }} </h6>
    <p class=mt-5></p>
    {% if page.gallery %}
        {% include gallery.html %}
    {% endif %}
    {{ content }}
</div>
<div class="text-center">
    <span>
        <a href="https://twitter.com/intent/tweet?via={{ site.twitter_username }}&text={{ page.title }} {{ page.url | absolute_url | encode_url }}" role="button" class="btn btn-light"
            onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share it on Twitter">
            <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" role="button" class="btn btn-light"
            onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share it on Facebook">
            <i class="bi bi-facebook" style="font-size: 2rem; color: cornflowerblue;"></i>
        </a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" role="button" class="btn btn-light"
            onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share it on Linkedin">
            <i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;"></i>
        </a>
    </span>
</div>